
.propertyList {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.title img{
  width: auto;
  height: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}