@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

:root {
  font-family: "Fustat", sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c0c11;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --padding-side: 10vw;
  --padding-section: 4vh var(--padding-side);

  --font-size-68: 68px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-28: 28px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-16: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  font-family: "Fustat", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

@media screen and (max-width: 1000px) {
  :root {
    --font-size-68: 58px;
    --font-size-40: 32px;
    --font-size-32: 26px;
    --font-size-28: 24px;
    --font-size-24: 22px;
    --font-size-20: 19px;
    --font-size-16: 15px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --font-size-68: 48px;
    --font-size-40: 28px;
    --font-size-32: 23px;
    --font-size-28: 20px;
    --font-size-24: 19px;
    --font-size-20: 17px;
    --font-size-16: 14px;
  }
}